html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

button {
  padding: 0.75em 1em;
  font-size: 1em;
  font-weight: bold;
  background: #CF953B;
  color: #fff;
  border: 1px solid #CF953B;
}